body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #F2F5FF;
}
button {
    border: none;
    font-family: Inter, sans-serif;
    cursor: pointer;
}

.page-container {
    width: 100%;
    height: 765px;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.header-container {
    position: absolute;
    transform: translate(-50%);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    top: 30px;
    left: 50%;
    width: 293px;
    height: 37px;
}

.header-title {
    margin-top: 0;
    margin-bottom: 0;
    width: 111px;
    height: 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: #0B0B0B;
}

.header-subtitle {
    margin: 0;
    width: 293px;
    height: 21px;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.04em;
    color: #0B0B0B;
}

.toggle-tabs {
    position: absolute;
    display: inline;
    transform: translate(-50%);
    left: 50%;
    top: 117px;
    width: 160px;
    height: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
}

.toggle-tab {
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.toggle-tab.active {
    color: #0060FF;
}

.toggle-tab.inactive {
    color: #ADC0F8;
}

.upload-pictures-button {
    position: relative;
    display: inline;
    vertical-align: middle;
    color: #0060FF;
    background-color: #F2F5FF;

    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
}

.uploaded-images-button {
    position: relative;
    display: inline;
    vertical-align: middle;
    left: 14px;
    color: #ADC0F8;
    background-color: #F2F5FF;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
}

.upload-pad {
    position: absolute;
    display: inline;
    transform: translate(-50%);
    left: 50%;
    top: 191px;
    width: 472px;
    height: 200px;
    border-radius: 10px;
    padding: 16px 32px;
    border: 2px dashed #0060FF;
}

.upload-pad.dragover {
    border-color: #0060FF;
    background: rgba(0, 96, 255, 0.05);
    transition: background 0.2s;
}

.cloud-picture-container {
    width: 48px;
    height: 48px;
    position: absolute;
    display: inline;
    transform: translate(-50%);
    left: 50%;
    top: 53px;
}

.cloud-picture {
    position: absolute;
    width: 44px;
    height: 36px;
    top: 6px;
    left: 2px;
    border: 2px;
}

.description-container {
    width: 270px;
    height: 63px;
    position: absolute;
    display: inline-block;
    top: 110px;
    left: 135px;
}

.upload-main-text {
    position: relative;
    align-content: center;
    width: 270px;
    height: 29px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #0B0B0B;
    overflow-x: clip;
    overflow-y: clip;
}

.description-text {
    position: relative;
    align-content: center;
    width: 270px;
    height: 34px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #ADC0F8;
    margin-top: -10px;
}

input[type="file"] {
    display: none;
}

.browse-button {
    position: absolute;
    display: inline;
    transform: translate(-50%);
    left: 50%;
    width: 509px;
    height: 20px;
    background-color: #0060FF;
    top: 451px;
    border-radius: 7px;
    padding: 12px 16px;
    border: none;
    cursor: pointer;
}

.browse-button-text {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: 0.02em;
    align-content: center;
}

.url-container {
    position: absolute;
    display: flex;
    transform: translate(-50%);
    left: 50%;
    width: 540px;
    height: 96px;
    top: 540px;
}

.url-title {
    position: absolute;
    top: 0;
    width: 539px;
    height: 24px;
}

.url-title-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #0B0B0B;
    letter-spacing: -0.03em;
}

.url-upload {
    position: absolute;
    display: inline-flex;
    align-items: center;
    width: 505px;
    height: 30px;
    top: 35px;
    padding: 16px;
    border: 2px solid #4676FB;
    background-color: #FAFAFA;
    border-radius: 12px;
}

.url {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(11, 11, 11, 0.5);
    width: 441px;
    height: 20px;
    letter-spacing: 0.02em;
    border: none;
    background-color: #FAFAFA;
    outline: none;
    caret-color: transparent;
}

.url-copy-button {
    position: relative;
    width: 59px;
    height: 30px;
    border: none;
    left: 8px;
    border-radius: 8px;
    background-color: #0060FF;
}

.url-copy-button-text {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
    text-transform: uppercase;
}

/* Query for failed uploads */

.upload-error {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    color: #FF0000;
    position: relative;
    align-content: center;
    width: 270px;
    height: 29px;
}

/* Query for successful uploads */

.url-successful-upload {
    font-weight: 400;
    line-height: 20px;
    color: #0B0B0B;
    position: relative;
    font-size: 16px;
    width: 441px;
    height: 20px;
    letter-spacing: 0.02em;
}

.hidden {
    display: none !important;
}

/* Upload part */

.no-images-msg {
    position: absolute;
    padding: 40px;
    top: 130px;
    left: 50%;
    transform: translate(-50%);
}

.table {
    position: absolute;
    transform: translate(-50%);
    display: block;
    width: 806px;
    height: 282px;
    top: 171px;
    left: 50%;
    padding: 20px;
}

.table-header,
.table-row {
    position: relative;
    display: flex;
    width: 766px;
    height: 35px;
}

.table-row p {
    margin: 0 0 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    color: #0B0B0B;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-align: left;
    align-content: center;
}

#name-column,
.file-name {
    width: 344px;
    align-content: center;
}

.file-name span {
    position: relative;
    left: 22px;
}

.file-icon {
    width: 18px;
    height: 13px;
    position: absolute;
    padding-left: 2px;
}

#url-column,
.file-url {
    position: relative;
    left: 10px;
    width: 310px;
    align-content: center;
}

#delete-column,
.file-delete {
    position: relative;
    left: 20px;
    width: 108px;
    align-content: center;
}

.delete-btn {
  background: rgba(255, 0, 0, 0.05);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 14px;
  cursor: pointer;
}